In [20]:
import pandas as pd
import os


filepath = os.path.join("lichess","games.csv")

In [21]:
games_df = pd.read_csv(filepath)

In [22]:
games_df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5

In [23]:
ratings_mean = games_df["turns"].mean()
ratings_mean

60.46599860404826

In [24]:
whiterating_mean = games_df["white_rating"].mean()
whiterating_mean

1596.6318675840064

In [25]:
blackrating_mean = games_df["black_rating"].mean()
blackrating_mean

1588.8319872370128

In [26]:
turns_mean = games_df["turns"].mean()
turns_mean

60.46599860404826

In [27]:
whiterating_mean_turns = games_df.groupby("white_rating").mean()["turns"]
whiterating_mean_turns

white_rating
784      31.500000
788      27.000000
793      62.000000
795     144.000000
798      23.000000
           ...
2617      1.000000
2619     64.000000
2621     44.041667
2622    149.000000
2700     20.000000
Name: turns, Length: 1516, dtype: float64

In [28]:
blackrating_mean_turns = games_df.groupby("black_rating").mean()["turns"]
blackrating_mean_turns

black_rating
789     120.000000
791      74.000000
795      77.000000
796      60.000000
800      84.000000
           ...
2571     92.000000
2577     44.000000
2588    122.000000
2621     65.733333
2723      1.000000
Name: turns, Length: 1521, dtype: float64

In [29]:
rating_mean_frame = pd.DataFrame({
    "White Mean": whiterating_mean_turns,
    "Black Mean": blackrating_mean_turns
})
rating_mean_frame

      White Mean  Black Mean
784    31.500000         NaN
788    27.000000         NaN
789          NaN  120.000000
791          NaN   74.000000
793    62.000000         NaN
...          ...         ...
2619   64.000000         NaN
2621   44.041667   65.733333
2622  149.000000         NaN
2700   20.000000         NaN
2723         NaN    1.000000

[1622 rows x 2 columns]