In [2]:
import pandas as pd
import os


filepath = os.path.join("lichess","games.csv")

In [3]:
games_df = pd.read_csv(filepath)

In [4]:
games_df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5

In [19]:
turns_mean = games_df["turns"].mean()
turns_mean

60.46599860404826

In [20]:
turns_mean_whiterating = games_df.groupby("turns").mean()["white_rating"]
turns_mean_whiterating

turns
1      2105.722222
2      1382.421622
3      1460.885057
4      1500.615385
5      1593.275000
          ...
222    1734.000000
226    1817.000000
255    1585.000000
259    1441.000000
349    2194.000000
Name: white_rating, Length: 211, dtype: float64

In [21]:
turns_mean_blackrating = games_df.groupby("turns").mean()["black_rating"]
turns_mean_blackrating

turns
1      1613.888889
2      1416.800000
3      1399.333333
4      1529.000000
5      1439.000000
          ...
222    1733.500000
226    1907.000000
255    1448.000000
259    1461.000000
349    2240.000000
Name: black_rating, Length: 211, dtype: float64

In [22]:
turns_summary = pd. DataFrame({
    "White Rating Mean": turns_mean_whiterating,
    "Black Rating Mean": turns_mean_blackrating
})
turns_summary

       White Rating Mean  Black Rating Mean
turns
1            2105.722222        1613.888889
2            1382.421622        1416.800000
3            1460.885057        1399.333333
4            1500.615385        1529.000000
5            1593.275000        1439.000000
...                  ...                ...
222          1734.000000        1733.500000
226          1817.000000        1907.000000
255          1585.000000        1448.000000
259          1441.000000        1461.000000
349          2194.000000        2240.000000

[211 rows x 2 columns]

In [24]:
whiterating_mean = games_df["white_rating"].mean()
whiterating_mean

1596.6318675840064

In [9]:
blackrating_mean = games_df["black_rating"].mean()
blackrating_mean

1588.8319872370128

In [25]:
turns_mean = games_df["turns"].mean()
turns_mean

60.46599860404826

In [28]:
whiterating_mean_turns = games_df.groupby("white_rating").mean()["turns"]
whiterating_mean_turns

white_rating
784      31.500000
788      27.000000
793      62.000000
795     144.000000
798      23.000000
           ...
2617      1.000000
2619     64.000000
2621     44.041667
2622    149.000000
2700     20.000000
Name: turns, Length: 1516, dtype: float64

In [13]:
blackrating_mean_turns = games_df.groupby("black_rating").mean()["turns"]
blackrating_mean_turns

black_rating
789     120.000000
791      74.000000
795      77.000000
796      60.000000
800      84.000000
           ...
2571     92.000000
2577     44.000000
2588    122.000000
2621     65.733333
2723      1.000000
Name: turns, Length: 1521, dtype: float64

In [32]:
ratings_frame = pd.DataFrame({
    "Mean Turns of White Pieces": whiterating_mean_turns,
    "Mean Turns of Black Pieces": blackrating_mean_turns
})
ratings_frame

      Mean Turns of White Pieces  Mean Turns of Black Pieces
784                    31.500000                         NaN
788                    27.000000                         NaN
789                          NaN                  120.000000
791                          NaN                   74.000000
793                    62.000000                         NaN
...                          ...                         ...
2619                   64.000000                         NaN
2621                   44.041667                   65.733333
2622                  149.000000                         NaN
2700                   20.000000                         NaN
2723                         NaN                    1.000000

[1622 rows x 2 columns]